.donation_content {
    & .banner {
      position: relative;
      width: 100%;
      align-items: center;
      background-size: cover;
      background-position: center;
      height: 210px;
  
      & .overlay {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    & .white {
      color: white;
    }
    & .fw {
      font-weight: bold;
    }
    & .grid {
      display: grid;
    }
    & .grid_dona {
      grid-template-columns: 2fr 1fr;
    }
    & .mt5 {
      margin-top: 50px;
    }
    & .mlr110 {
      margin-left: 110px;
      margin-right: 110px;
    }
    & .dona {
      background-image: url('../../asset/Icon/dona1.jpg');
      & .title1 {
        margin-top: 40px;
        letter-spacing: 3px;
      }
        & .a_tag {
        font-size: 15px;
        background-color: #d61c62;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 8px;
        border: none;
        width: 15%;
  
        &.trang_chu:hover {
          color: #007bff;
        }
  
        & .ungho {
          color: rgb(195, 201, 206) !important;
        }
      }
    }
    & .content {
      & .content_text {
        text-align: justify;
        color: rgba(0, 0, 0, 0.8);
        & > h1 {
          color: #000000 !important;
        }
  
        & > ul {
          list-style: none;
          padding: 0;
        }
  
        & .hru {
          width: 20%;
          margin-top: -4px;
          border-width: 2px;
        }
  
        & .hr2 {
          width: 25%;
          border: 1.5px dotted rgba(0, 0, 0, 0.9);
        }
  
        & .unghongay {
          margin: 20px auto;
          border-radius: 20px;
          border: none;
          background-color: #007bff;
          padding: 8px 40px;
          margin-top: 16px;
          font-size: 20px;
  
          &:hover {
            background-color: #ffd154;
            padding: 8px 24px;
            transition: all 0.3s;
          }
        }
      }
  
      & .content_img_dona {
        width: 300px;
        margin-left: 30px;
        border-radius: 5px;
      }
    }
    & .manhthuongquan {
      background-image: url('../../asset/Icon/dona3.jpg');
        & .overlay {
          & h2 {
            color: white;
            font-weight: bold;
          }
  
          & .thongtin {
            width: 15%;
            background-color: #d61c62 !important;
            border-radius: 25px;
            border: none;
            padding: 10px 0;
            &:hover {
              background-color: #007bff !important;
            }
          }
        }
      }
    }
  