.donation_content {
  & .banner{
    width: 100%;
    height: 200px;
    background-image: url("../../asset/Background/donation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    & .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20%;
        color: white;
        & .title{
            margin: 0;
            font-size: 40px;
        }
        & .breadcrumbs{
            margin: 0;
            cursor: default;
            background-color: #d61c62;
            width: fit-content;
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 14px;
            & .root:hover{
                cursor: pointer;
                color: #007bff;
            }
            & .current{
                color: #b5b9bb;
                cursor: text;
            }
        }
    }
}
    & .white {
      color: white;
    }
    & .fw {
      font-weight: bold;
    }
    & .grid {
      display: grid;
    }
    & .grid_dona {
      grid-template-columns: 2fr 1fr;
    }
    & .mt5 {
      margin-top: 50px;
    }
    & .mlr110 {
      margin-left: 110px;
      margin-right: 110px;
    }
    & .content {
      & .content_text {
        text-align: justify;
        color: rgba(0, 0, 0, 0.8);
        & > h1 {
          color: #000000 !important;
        }
  
        & > ul {
          list-style: none;
          padding: 0;
        }
  
        & .hru {
          width: 100px;
          border: 1px solid #5c5c5c;
          margin-left: 0px;
          margin-top: -15px;
          margin-bottom: 35px;
        }
  
        & .hr2 {
          width: 25%;
          border: 1.5px dotted rgba(0, 0, 0, 0.9);
          margin-left: 0px;
        }
  
        & .unghongay {
          margin: 20px auto;
          border-radius: 20px;
          border: none;
          background-color: #007bff;
          padding: 10px 40px;
          margin-top: 16px;
          font-size: 20px;
  
          &:hover {
            background-color: #ffd154;
            transition: all 0.3s;
          }
        }
      }
  
      & .content_img_dona {
        width: 300px;
        margin-left: 30px;
        border-radius: 5px;
      }
    }
    & .manhthuongquan {
      background-image: url('../../asset/Icon/dona3.jpg');
        & .overlay {
          & h2 {
            color: white;
            font-weight: bold;
          }
  
          & .thongtin {
            width: 15%;
            background-color: #d61c62 !important;
            border-radius: 25px;
            border: none;
            padding: 10px 0;
            &:hover {
              background-color: #007bff !important;
            }
          }
        }
      }
    }
  