.white{
    color: white;
}
.fw{
    font-weight: bold;
}
.grid{
    display: grid;
}
.grid_dona{
    grid-template-columns: 2.7fr 1.3fr;
}
.grid_tem2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.mt5{
    margin-top: 50px;
}
.mt{
    margin-top: 80px;
}
.mlr110{
    margin-left: 110px;
    margin-right: 110px;
}
.donation{
    background-image: url('../../asset/Icon/dona1.jpg');
}
.manhthuongquan{ 
    background-image: url('../../asset/Icon/dona3.jpg');
    height: 200px !important;
    margin-top: -30px;
}
.donabanner{
    position: relative;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.title, .manhthuongquan_content{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.title1{
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 80px;
}
.trang_chu:hover{
    color:#007bff;
}
.ung_ho{
    color: rgb(195, 201, 206);
}
.a_tag{
    font-size: 15px;
    background-color: #d61c62;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 8px;
    border: none;
    width: 15%;
}
.content{
    margin-top: 50px;
}
.content_text{
    margin-right: 30px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
}
.content_text>h1{
    color: #000000 !important;
}
.content_text>ul{
    list-style: none;
}
.hru{
    width: 20%;
    margin-top: -4px;
    border-width: 2px;

}
.hr2{
    width: 25%;
    border: 1.5px dotted rgba(0,0,0,0.9);
}
.content_img{
    width: 100%;
    margin-left: 20px;
    border-radius: 5px;
}
.unghongay, .lienhespa, .thongtin{
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    padding: 8px 40px;
    margin-top: 16px;
    font-size: 20px;
}
.unghongay:hover, .lienhespa:hover{
    background-color: #ffd154;
    padding: 8px 24px;
    transition: all 0.3s;
}
.hotro{
    margin-top: 50px;
}
.khac{
    margin-top: 50px;
}
.khac > p {
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;}
.chancho{
    width: 2%;
    transform: rotate(30deg);
    margin-top: -20px;
    opacity: 0.5;
    margin-left: 650px;
}

.tem2{
    border: #d61c62 2px solid;
    padding: 24px;
    border-radius: 55px;
    margin-right: 30px;
}
.phuongthuc_text{
    margin-left: 75px;
}
.phuongthuc_text>p{
    text-transform: capitalize;
    margin-top: -12px;
    font-size: 20px;
    margin-right: 80px;
}
.lienhespa{
    margin: 20px 570px;
}
.dauchan{
    background-image: url('../../asset/Footer/pattern1.png');
    background-repeat: repeat-x;
    height: 20vh;
    margin-top: -15px;
}
.thongtin{
    width: 18%;
    margin-left: 200px;
    background-color: #d61c62 !important;
}
.thongtin:hover{
    background-color: #007bff !important;
}