.support-options {
  text-align: center;
  background-image: url('../../asset/Footer/pattern1.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #f6f6f6;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  & h2{
    margin: 0;
  }
  & .BanChan {
    width: 25px;
    height: 25px;
    transform: rotate(25deg);
    margin: auto;
    filter: brightness(0) saturate(100%) invert(62%) sepia(100%) saturate(6303%) hue-rotate(200deg) brightness(103%) contrast(105%);
  }

  .options-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      .icon-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #d61c62;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 60%;
          margin-top: 15px;
          transition: transform 0.5s;
          
        }
        &:hover img {
          transform: rotate(25deg);
        }
      }

      p {
        font-size: 1.25em;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #333;
        margin: 0;
      }
    }
  }

  & .lienhespa {
    all: unset;
    margin: auto;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
    color: white;
    background-color: #007bff;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
    &:hover {
      background-color: #ffd154;
      cursor: pointer;
    }
  }
}
