.toSupport {
  width: 100%;
  height: 200px;
  background-image: url(../../asset/Background/ready-to-support.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  & > h1 {
    color: white;
  }
  & > div {
    width: 300px;
    display: flex;
    justify-content: center;
    & > button {
      height: fit-content;
      border: none;
      width: 300px;
      background-color: #d61c62;
      border-radius: 25px;
      padding: 10px 0;
      font-weight: 600;
      color: white;
      transition: width 0.3s ease;
      &:hover {
        background-color: #ffd154;
        width: 200px;
      }
    }
  }
}
