.product_content {
    .white {
      color: white;
    }
  
    .up {
      text-transform: uppercase;
      border: none;
      border-radius: 25px;
      padding: 10px 28px;
    }
  
    .fw {
      font-weight: bold;
    }
  
    & .banner{
      width: 100%;
      height: 200px;
      background-image: url("../../asset/Background/jumbotron-shop.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      & .container{
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-left: 20%;
          color: white;
          & .title{
              margin: 0;
              font-size: 40px;
          }
          & .breadcrumbs{
              margin: 0;
              cursor: default;
              background-color: #d61c62;
              width: fit-content;
              padding: 10px 30px;
              border-radius: 5px;
              font-size: 14px;
              & .root:hover{
                  cursor: pointer;
                  color: #007bff;
              }
              & .current{
                  color: #b5b9bb;
                  cursor: text;
              }
          }
      }
  }
  
    .muahang {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
  
      .inbox {
        background-color: #007bff;
        &:hover {
          background-color: #ffd154;
        }
      }
  
      .shoppe {
        margin-left: 50px;
        background-color: #007bff;
        &:hover {
          background-color: #ffd154;
        }
      }
    }
  
    .grid1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Định nghĩa lưới 4 cột */
      gap: 16px;
      margin: 50px 80px;
    
      .grid_ite {
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa nội dung theo chiều ngang */
    
        > img {
          width: 250px; /* Đặt chiều rộng cố định */
          height: 250px; /* Đặt chiều cao cố định để tạo hình vuông */
          object-fit: cover; /* Đảm bảo ảnh không bị méo, lấp đầy khung hình */
          margin: 0 0 10px 0; /* Khoảng cách phía dưới ảnh */
        }
    
        > p {
          margin: 10px 0 0 0;
          padding: 0 10px;
          text-align: center; /* Căn giữa văn bản */
          font-size: 16px;
        }
    
        .hr1 {
          margin: 10px auto; /* Căn giữa đường kẻ */
          width: 200px;
          border: 1px solid #5c5c5c;
        }
    
        > strong {
          color: #c61d62;
          font-size: 18px;
          margin-top: 8px;
          text-align: center; /* Căn giữa giá */
          display: block;
        }
      }
    }
    
    
  
    .productslider {
      margin: -20px auto 40px;
      display: flex;
      justify-content: center;
      gap: 30px;
  
      > li {
        background-color: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.5);
        list-style: none;
        display: inline-block;
        padding: 8px 16px;
        font-weight: bold;
        cursor: pointer;
  
        &.prli {
          background-color: #007bff;
          color: white;
          &:hover {
            background-color: #ffd154;
          }
        }
      }
    }
  }