.header_container {
  position: fixed;
  width: 100%;
  z-index: 1000;
  user-select: none;
}

.header_contact {
  width: 100%;
  background-color: #ffd154;
  color: white;
  & > .header_contact_container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    & > div {
      display: flex;
      gap: 20px;
      font-weight: 600;
      letter-spacing: 0.2px;
      font-size: 14px;
      & > div {
        display: flex;
        gap: 5px;
      }
      & > a {
        all: unset;
        display: flex;
        gap: 5px;
        &:hover {
          color: #d61c62;
          cursor: pointer;
        }
      }
      & > .searchOutlined {
        width: 48px;
        height: 48px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: font-size 0.3s;
        &:hover {
          font-size: 24px;
          color: #d61c62;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes moveAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Initial position */
  }
  100% {
    opacity: 0.3;
    transform: rotate(-25deg) scale(1) translate(-30%, -50%);
    // transform: rotate(-25deg) scale(1) translate(-50%, -50%);
  }
}
@keyframes moveAndFadeOut {
  0% {
    opacity: 0.3;
    transform: rotate(-25deg) scale(1) translate(-30%, -50%);/* Initial position */
  }
  100% {
    opacity: 0;
    transform: translateY(20px); 
    // transform: rotate(-25deg) scale(1) translate(-50%, -50%);
  }
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #f6f6f6;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  & > div {
    position: relative;
    height: 100px;
    padding: 0 20px;
  }
  & > div > a {
    all: unset;
    border: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    z-index: 10;
  }
  & > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 50px;
      height: 50px;
      left: 50%;
      top: 40%;
      background-image: url(../../asset/Icon/pets.png);
      background-size: 50px;
      filter: brightness(0) saturate(100%) invert(67%) sepia(17%) saturate(0%)
        hue-rotate(140deg) brightness(99%) contrast(89%);
      opacity: 0;
      animation: moveAndFadeOut 0.5s ease forwards;
    }
    & > a {
      display: flex;
      align-items: center;
      height: 70px;
      position: relative;
      background-color: transparent;
    }
    &:hover {
      color: #d61c62;
      cursor: pointer;
      &:before {
        animation: moveAndFadeIn 0.5s ease forwards;
      }
    }   
  }
  & .activated {
    color: #d61c62;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 50px;
      height: 50px;
      left: 50%;
      top: 40%;
      background-image: url(../../asset/Icon/pets.png);
      background-size: 50px;
      filter: brightness(0) saturate(100%) invert(67%) sepia(17%) saturate(0%)
        hue-rotate(140deg) brightness(99%) contrast(89%);
      opacity: 0.3;
      transform: rotate(-25deg) scale(1) translate(-30%, -50%);
      animation: unset;
    }
  }
  & > .Logo{
    background: #f6f6f6;
    z-index: unset;
  }
  // &::before {
  //   content: "";
  //   width: 40px;
  //   height: 40px;
  //   position: absolute;

  //   background-size: cover;
  //   background-repeat: no-repeat;
  //
  //   animation: moveAndFadeIn 0.5s ease;
  // }
}
