.aboutus {
  width: 40%;
  margin: 50px auto;
  text-align: justify;
  & h1 {
    text-transform: capitalize;
  }
  & img {
    width: 200px;
    float: right;
    margin: 20px 0 20px 20px;
  }
  & .button_container {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > button {
      height: fit-content;
      width: 250px;
      border: none;
      background-color: #d61c62;
      border-radius: 25px;
      padding: 10px 30px;
      font-weight: 600;
      color: white;
      transition: width 0.3s ease;
      user-select: none;
    }
    &:hover {
      & > button {
        cursor: pointer;
        background-color: #007bff;
        width: 200px;
      }
    }
  }
}
