@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  user-select: none;
  & .list {
    & .item {
      position: absolute;
      width: 100vw;
      height: 700px;
      inset: 0;
      overflow: hidden;
      opacity: 0;
      transition: 0.5s;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to Top, #000000bc 1%, transparent);
      }
      & .content {
        position: absolute;
        left: 0;
        top: 30%;
        width: 500px;
        max-width: 80%;
        z-index: 10;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2 {
          font-size: 48px;
        }
        & p {
          font-size: 28px;
        }
        & .button_container {
          width: 190px;
          display: flex;
          align-items: center;
          justify-content: center;
          & > button {
            height: fit-content;
            width: 190px;
            border: none;
            background-color: #d61c62;
            border-radius: 25px;
            padding: 10px 10px;
            font-weight: 600;
            color: white;
            transition: width 0.3s ease;
          }
          &:hover {
            & > button {
              background-color: #ffd154;
              width: 100px;
            }
          }
        }
      }
    }
    & .active {
      opacity: 1;
      & .content {
        & h2,
        & p,
        & button {
          transform: translateY(30px);
          filter: blur(20px);
          opacity: 0;
          animation: showContent 0.5s 0.2s ease-in-out 1 forwards;
        }
        & h2 {
          animation-duration: 0.5s;
        }
        & p {
          animation-delay: 0.5s;
          animation-duration: 0.5s;
        }
        & button {
          animation-delay: 1s;
          animation-duration: 0.5s;
        }
      }
    }
  }
}

.arrows {
  position: absolute;
  width: 94%;
  left: 3%;
  margin-top: 302px;
  & .prev,
  & .next {
    position: absolute;
    top: 100%;
    width: 48px;
    height: 48px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: white;
    transition: font-size 0.1s ease;
    z-index: 10;
    &:hover {
      cursor: pointer;
      font-size: 48px;
    }
  }
  & .next {
    right: 0;
  }
}
