.banner_Volunteer {
    position: relative;
    width: 100%;
    height: 210px;
    background-image: url('../../../asset/Background/jumbotron-volunteer.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Lớp overlay để làm tối phần nền */
    .overlay2 {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      /* Định dạng tiêu đề */
      h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-left: -650px;
      }
  
      /* Định dạng breadcrumb */
      p {
        margin-top: 10px;
        font-size: 0.8rem;
        color: #b5b9bb;
        background-color: #d61c62;
        padding: 5px 30px;
        border-radius: 4px;
        margin-left: -800px;
  
        a {
          color: #ffffff;
          text-decoration: none;
  
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  