.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Độ cao có thể tùy chỉnh */
    background-image: url('../../../asset/Background/jumbotron-volunteer.jpg'); /* Đặt ảnh nền banner của bạn ở đây */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
}

/* Lớp overlay để làm tối phần nền */
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền trong suốt */
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Định dạng tiêu đề */
.overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: -650px;
}

/* Định dạng breadcrumb */
.overlay p {
    margin-top: 10px;
    font-size: 0.8rem;
    color:#b5b9bb;
    background-color: #d61c62;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px; 
    margin-left: -800px;
}

.overlay p a {
    color: #ffffff; 
    text-decoration: none;
}
.overlay p a:hover {
    color:blue;
}

