.all_pet{
    & .banner{
        width: 100%;
        height: 200px;
        background-image: url(../../../asset/Background/jumbotron-all-pet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        & .container{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 20%;
            color: white;
            & .title{
                margin: 0;
                font-size: 40px;
            }
            & .breadcrumbs{
                margin: 0;
                cursor: default;
                background-color: #d61c62;
                width: fit-content;
                padding: 10px 30px;
                border-radius: 5px;
                font-size: 14px;
                & .root:hover{
                    cursor: pointer;
                    color: #007bff;
                }
                & .current{
                    color: #b5b9bb;
                    cursor: text;
                }
            }
        }
    }
}