.banner1 {
  position: relative;
  width: 100%;
  height: 210px;
    background-image: url('../../../asset/Background/banner-cotact.avif'); 
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  
    & .overlay1 {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      & h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-left: -1150px;
      }
  
      & p {
        margin-top: 10px;
        font-size: 0.8rem;
        color: #b5b9bb;
        background-color: #d61c62;
        padding: 8px 15px;
        border-radius: 4px;
        margin-left: -1050px;
        font-size: 15px;  
        width: 15%;
  
        & a {
          color: #ffffff;
          text-decoration: none;
  
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  