.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  & .title {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    & h1 {
      font-weight: 600;
    }
    & p {
      display: flex;
      align-items: center;
      & img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        filter: brightness(0) saturate(100%) invert(62%) sepia(100%)
          saturate(6303%) hue-rotate(200deg) brightness(103%) contrast(105%);
      }
      & span {
        margin-left: 5px;
      }
    }
  }
  & .content {
    & img {
      width: 100%;
    }
  }
  & hr {
    border: 1px solid #c3c3c3;
    width: 100%;
  }
}
